<% include partials/_header %>

<div class="col-md-4 offset-md-4">

    <div class="card">
        <div class="card-body">
            <form action="/edit/<%= task._id %>" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="title" placeholder="Insert a Title"
                        value="<%= task.title %>">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="description" cols="80"
                        placeholder="insert a description"><%= task.description %></textarea>
                </div>
                <button class="btn btn-primary btn-block" type="submit">
                    Update
                </button>
            </form>
        </div>
    </div>

</div>

<% include partials/_footer %>