<% include partials/_header %>

<div class="container">
    <div class="row">
        <!-- FORM -->
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" name="title" placeholder="Insert a Title">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="description" cols="80"
                                placeholder="insert a description"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">
                            Add
                        </button>
                    </form>
                </div>
            </div>

        </div>
        <!-- LIST -->
        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i <  tasks.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td><%= tasks[i].title %></td>
                        <td><%= tasks[i].description %></td>
                        <td>
                            <a href="/turn/<%= tasks[i]._id %>"
                                class="btn <%= tasks[i].status ? 'btn-success' : 'btn-dark'  %>">Done</a>
                            <a href="/delete/<%= tasks[i]._id %>" class="btn btn-danger">Delete</a>
                            <a href="/edit/<%= tasks[i]._id %>" class="btn btn-info">Edit</a>
                        </td>
                    </tr>


                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <% include partials/_footer %>